@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light;
	font-family: "Inter", system-ui, sans-serif;
}

html,
body,
#root {
	height: 100%;
	scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	margin: 0;
	min-height: 100vh;
}
